@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
  }

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(241, 241, 241);
    
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    gap: 24px;

}

.cotent-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 1440px;
    gap: 24px;
    text-align: start;

}

.logophoto{
    width: 212px;
    height: 63px;
}

.kol{
    width: 144ch;
}
h2{
    color: var(--black, #121723);
    font-family: IBM Plex Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 48px */
    margin-top: 25px;
    
}

.title{
    width: 323px;
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text{
    align-self: stretch;
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sneaker{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.sneaker__descr{
    padding: 32px 24px;
    width: 322px;
    background-color: white;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
   
}

header{
    background: var(--white, #FFF);
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  30px 45px;
}


.socials-link a{
    text-decoration: none;
    color: #000;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.socials{
    display: flex;
    gap: 24px;
}

li {
    list-style-type: none;
}

.picture-logo{
    flex-shrink: 0;
    fill: var(--white, #FFF);
    width: 299.653px;
    height: 22.32px;
}

.socials_down{
    display: flex;
    gap: 24px;
}

.socials-link_down a{
    text-decoration: none;
    color: var(--white, #FFF);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


footer{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background: var(--black, #121723);
    
}

.footer__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  

.line {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 20px; 
    width: 65vw;
    height: 0.05vw;
    background: rgba(230, 232, 236, 0.40);
}
  
  
.footer__lower-text {
    text-align: center;
    margin-top: 10px;
    color: var(--text_gray, #A1A6B4);
    font-family: Anonymous Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .sneaker-big{
    margin-top: 32px;
    margin-bottom: 32px;
    background: white;
    border-radius: 50px;
    padding: 48px;
    width: 1044px;
    height: 1492px;
}

.sneaker-big_img{
    width: 100%;
    height: 600px;
    align-self: stretch;
    border-radius: 50px 50px 0px 0px;
}

.sneaker-big_name{
    align-self: stretch;
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 48px */
}

.sneaker-big_name2{
    align-self: stretch;
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 36px */
}

.sneaker-big_descr{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.img{
    width: 370px;
    height: 254px;
}

.sneaker-big_info{
    display: flex;
    gap: 32px;

}


.history_text{
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    width: 506px;
    height: auto;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 506px;
    height: auto;
}

.line2{
    height: 1px;
    align-self: stretch;
    background: var(--black, #121723);
    width: 100%;
}

.about_tovar{
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price{
    display: flex;
    justify-content: space-between;
}

.price_right{
    text-align: right;
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price_left{
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price_roz{
    display: flex;
    justify-content: space-between;
}

.material{
    display: flex;
    justify-content: space-between;
}

.roz_left{
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.roz_right{
    color: var(--black, #121723);
    text-align: right;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.material_left{
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.material_right{
    color: var(--black, #121723);
    text-align: right;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sneaker:hover{
    transform: translate(0, -10px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease; 
    
}

@media screen and (max-width: 375px){

    *{
        box-sizing: border-box;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 800px;
        padding: 0 16px;
    }

    .footer__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: 100%;
        gap: 24px;
        margin-top: 32px;
    }

    .socials_down{
        display: flex;
        column-gap: 24px;
    }

    .socials-link_down a{
        text-decoration: none;
        color: var(--white, #FFF);
        font-family: Anonymous Pro;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .picture-logo{
        height: 100%;
        width: 600px;
    }


    .footer__lower-text{
        text-align: center;
        margin-top: 10px;
        color: var(--text_gray, #A1A6B4);
        font-family: Anonymous Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .footer__lower{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-bottom: 24px;
        width: 100%;
    }

    header{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        padding: 24px;
    }

    .socials{
        display: flex;
        column-gap: 10px;
    }

    .socials-link a{
        text-decoration: none;
        color: #000;
        font-family: Anonymous Pro;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 100%;
    }

    .cotent-cards{
        width: 100%;
        max-width: 343px;
        display: flex;
        justify-content: center;
    }

    .kol{
        width: auto;
        margin-left: 15px;
    }

    .header, .footer{
        width: 100%;
    }
    
    .logophoto{
        width: 215px;
    }
    
    .picture-logo{
        width: 300px;
    }
    
    .line{
        width: 100%;
    }
    
    .img{
        width: 328px;
        height: 254px;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .sneaker__descr{
        width: 328px;
        height: 100%;
    }

    .title{
        color: var(--black, #121723);
        font-family: Anonymous Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .text{
        color: var(--black, #121723);
        font-family: Anonymous Pro;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


    .sneaker-big{
        margin-top: 32px;
        margin-bottom: 32px;
        background: white;
        border-radius: 50px;
        padding: 48px;
        width: 360px;
        height: 100%;
       
    
    }

    .sneaker-big_info{
        display: flex;
        flex-direction: column;
    
    }

    .sneaker-big_img{
        width: 100%;
        height: 100%;
        align-self: stretch;
        border-radius: 50px 50px 0px 0px;
    }

    .about{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        height: auto; 
    }

    .history_text{
        color: var(--black, #121723);
        font-family: Anonymous Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        width: 100%;
    }

    .sneaker-big_name{
        color: var(--black, #121723);
        font-family: Anonymous Pro;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 32px */
    }

    .sneaker-big_name2{
        color: var(--black, #121723);
        font-family: Anonymous Pro;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 20px */
    }

    .about_tovar{
        color: var(--black, #121723);
        font-family: Anonymous Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .price_left{
        color: var(--black, #121723);
        font-family: Anonymous Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .price_right{
        color: var(--black, #121723);
        text-align: right;
        font-family: Anonymous Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .roz_left{
        color: var(--black, #121723);
        font-family: Anonymous Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .roz_right{
        color: var(--black, #121723);
        text-align: right;
        font-family: Anonymous Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .material_right{
        color: var(--black, #121723);
        text-align: right;
        font-family: Anonymous Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .material_left{
        color: var(--black, #121723);
        font-family: Anonymous Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .material{
        display: flex;
        gap: 15px;
    }

}


